/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

html, body, #root {
    width: 100%;
    height: 100%;
}

.small-caps {
    font-variant: small-caps;
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.05);
}

input[type="range"]::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    background: #FFF;
    box-shadow: -405px 0 0 400px #0F766E;
    border-radius: 50%;
}

input[type="range"]::-webkit-slider-thumb:active {
    background: #e0e0e0;
}

::-webkit-scrollbar {
    width: 4px;
    cursor: pointer;
}
::-webkit-scrollbar-track {
    background-color: rgba(229, 231, 235, var(--bg-opacity));
    cursor: pointer;
}
::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #a0aec0;
}